html, body{
    padding: 25px 25px 25px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 25px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}